.card {
  max-width: 300px;
  max-height: 300px;
  padding: 1rem;
  border: 1px solid #333;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s ease-in background-color;
}

.card:hover {
  background-color: white;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editButton {
  visibility: hidden;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.editInput {
  padding: 0.5rem;
  border: none;
  background-color: transparent;
}

.cardHeader > h1 {
  font-size: 1.3rem;
  text-align: center;
}

.cardHeader:hover > .editButton {
  visibility: visible;
}

.cardMain p {
  margin: 0.5rem 0;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
